[package]
name = "burst-pool"
version = "0.2.1"
authors = ["Alex Sayers <alex.sayers@gmail.com>"]
description = "A thread pool optimised for bursts of activity"
documentation = "https://docs.rs/burst-pool/"
repository = "https://github.com/asayers/burst-pool"
readme = "README.md"
keywords = ["threadpool"]
license = "MIT OR Apache-2.0"
exclude = ["histogram.png"]

[lib]
name = "burst_pool"
path = "lib.rs"

[dependencies]
log = "0.3"

[dev-dependencies]
env_logger = "0.4.2"
lazy_static = "0.2"
lossyq = "0.1.19"
mio = "0.6.6"
nix = "0.8.1"
parking_lot_core = "0.2.1"
rand = "0.3.15"
rb = "0.2.0"
scoped_threadpool = "0.1.7"
spmc = "0.2.1"
threadpool = "1.3.2"

[[bench]]
name = "bench"
path = "benches/bench.rs"
harness = false
